<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Titanic</title>
        <style>
        </style>
    </head>

    <body>
        <h1 style="display: flex; background-color: lightBlue; justify-content: center;">FIND OUT IF YOU WOULD DIE ON THE TITANIC</h1>
        <div style="display: flex; justify-content: center;">
            <div style="display: flex; justify-content: center; border-style: ridge; border-width: 5px; border-color: black; width: 275px; height: 325px;">
                <form>
                    <fieldset>
                        <legend>Passenger class</legend>

                        <input name="pClass" type="radio" id="class1"/>
                            <label for="class1">1</label>

                        <input name="pClass" type="radio" id="class2"/>
                            <label for="class2">2</label>

                        <input name="pClass" type="radio" id="class3"/>
                            <label for="class3">3</label>
                    </fieldset>

                    <fieldset>
                        <legend>Passenger gender</legend>

                        <input name="gender" type="radio" id="male"/>
                            <label for="male">Male</label>

                        <input name="gender" type="radio" id="female"/>
                            <label for="female">Female</label>
                    </fieldset>

                    <fieldset>
                        <legend>Passenger age</legend>

                        <input name="age" type="number" id="age">
                    </fieldset>

                    <fieldset>
                        <legend>Passenger embarked</legend>

                        <input name="embarked" type="radio" id="q"/>
                            <label for="q">Q</label>

                        <input name="embarked" type="radio" id="s"/>
                            <label for="s">S</label>

                        <input name="embarked" type="radio" id="c"/>
                            <label for="c">C</label>
                    </fieldset>

                    <fieldset>
                        <legend>Passenger fare</legend>

                        <input name="fare" type="text" id="fare">
                    </fieldset>

                    <br>

                    <button href="{{ url_for('auth.submit') }}">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
