<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Titanic</title>
        <style>
        </style>
    </head>

    <body>
        <h1 style="display: flex; background-color: lightBlue; justify-content: center;">FIND OUT IF YOU WOULD DIE ON THE TITANIC</h1>
        <div style="display: flex; justify-content: center;">
            <div style="display: flex; justify-content: center; border-style: ridge; border-width: 5px; border-color: black; width: 275px; height: 440px;">
                <form action="{{ url_for('auth.submit')}}" method="post">
                    <fieldset>
                        <legend>Passenger class (1, 2, 3)</legend>

                        <input name="pClass" type="number" id="pClass">
                    </fieldset>

                    <fieldset>
                        <legend>Passenger gender (male, female)</legend>

                        <input name="gender" type="text" id="gender">
                    </fieldset>

                    <fieldset>
                        <legend>Passenger age</legend>

                        <input name="age" type="number" id="age">
                    </fieldset>

                    <fieldset>
                        <legend>Number of siblings/spouses aboard</legend>

                        <input name="sibSp" type="number" id="sibSp">
                    </fieldset>

                    <fieldset>
                        <legend>Number of parents/children aboard</legend>

                        <input name="parch" type="number" id="parch">
                    </fieldset>

                    <fieldset>
                        <legend>Passenger fare</legend>

                        <input name="fare" type="number" id="fare">
                    </fieldset>

                    <fieldset>
                        <legend>Passenger embarked (Q, S, C)</legend>

                        <input name="embarked" type="text" id="embarked">
                    </fieldset>

                    <br>

                    <button type="submit" href="{{ url_for('auth.submit') }}">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
